import(copula)
import(VC2copula)
import(sp, spacetime)

importFrom("graphics", "abline", "smoothScatter")
importFrom("stats", "D", "approxfun", "cor", "ecdf", "integrate", "lm",
           "optim", "optimise", "optimize", "pnorm", "predict", "pt",
           "qnorm", "qt", "quantile", "runif", "uniroot", "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "tail", "capture.output", "str")

# methods
importFrom(methods,getClassDef)
importFrom(methods,getSlots,slotNames)
importFrom(methods,is)
importFrom(methods,new)
importFrom(methods,representation)
importFrom(methods,setClass,validObject)
importFrom(methods,setMethod)
importFrom(methods,signature)

# VineCopula
importFrom(VineCopula, TauMatrix, BiCopSelect)


# constructor
export(asCopula, cqsCopula)
export(tawn3pCopula)
export(spCopula, stCopula, spGeomCopula)
export(spVineCopula, stVineCopula)
export(stCoVarVineCopula)
export(neighbourhood, stNeighbourhood)
export(empiricalCopula, genEmpCop, empSurCopula, genEmpSurCop)
export(mixtureCopula)
export(hkCopula)
export(trunCopula)

# general functions
export(rankTransform, dependencePlot, unitScatter, univScatter)
export(fitCopula)
export(dduCopula,ddvCopula)
export(invdduCopula, invddvCopula)
export(qCopula_u, qCopula_v, rCopula_y)
export(condSpVine,spCopPredict)
export(condStVine,stCopPredict)
export(condStCoVarVine, condCovariate)
export(spGaussCopPredict, spGaussLogLik)

# tweaks
# export(setSizeLim)

# spatial
export(getNeighbours, getStNeighbours)
export(calcBins)
export(calcSpTreeDists, dropSpTree, dropStTree)
export(reduceNeighbours)

# fitting
export(fitCorFun, loglikByCopulasLags, loglikByCopulasStLags, fitSpCopula, composeSpCopula)
export(bivJointDepFun, lowerBivJointDepFun, upperBivJointDepFun)
export(empBivJointDepFun, lowerEmpBivJointDepFun, upperEmpBivJointDepFun)

# MRP functions
export(genEmpKenFun, genInvKenFun)
export(kendallRP, criticalLevel, kendallDistribution, getKendallDistr)
export(criticalPair, criticalTriple)
export(kendall)

## classes
exportClasses(asCopula, cqsCopula, tawn3pCopula, neighbourhood, stNeighbourhood, empiricalCopula, empSurCopula)
exportClasses(spCopula, stCopula, spVineCopula, stVineCopula, spGeomCopula)
exportClasses(stCoVarVineCopula)
exportClasses(mixtureCopula)
exportClasses(hkCopula)
exportClasses(trunCopula)