import(copula)
import(VineCopula)
import(sp, spacetime)
import(methods)

importFrom("graphics", "abline", "smoothScatter")
importFrom("stats", "D", "approxfun", "cor", "ecdf", "integrate", "lm",
           "optim", "optimise", "optimize", "pnorm", "predict", "pt",
           "qnorm", "qt", "quantile", "runif", "uniroot", "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "tail", "capture.output", "str")

importMethodsFrom(VineCopula, fitCopula)
importMethodsFrom(VineCopula, dduCopula,ddvCopula)

importFrom(VineCopula, BB1Copula, surBB1Copula, r90BB1Copula, r270BB1Copula)
importFrom(VineCopula, BB6Copula, surBB6Copula, r90BB6Copula, r270BB6Copula)
importFrom(VineCopula, BB7Copula, surBB7Copula, r90BB7Copula, r270BB7Copula)
importFrom(VineCopula, BB8Copula, surBB8Copula, r90BB8Copula, r270BB8Copula)
importFrom(VineCopula, joeBiCopula, surJoeBiCopula, r90JoeBiCopula, r270JoeBiCopula)
importFrom(VineCopula, surClaytonCopula, r90ClaytonCopula, r270ClaytonCopula)
importFrom(VineCopula, surGumbelCopula, r90GumbelCopula, r270GumbelCopula)
importFrom(VineCopula, tawnT1Copula, surTawnT1Copula, r90TawnT1Copula, r270TawnT1Copula)
importFrom(VineCopula, tawnT2Copula, surTawnT2Copula, r90TawnT2Copula, r270TawnT2Copula)
importFrom(VineCopula, vineCopula)
importFrom(VineCopula, copulaFromFamilyIndex)
importFrom(VineCopula, TauMatrix, BiCopSelect)

importClassesFrom(VineCopula, BB1Copula, surBB1Copula, r90BB1Copula, r270BB1Copula)
importClassesFrom(VineCopula, BB6Copula, surBB6Copula, r90BB6Copula, r270BB6Copula)
importClassesFrom(VineCopula, BB7Copula, surBB7Copula, r90BB7Copula, r270BB7Copula)
importClassesFrom(VineCopula, BB8Copula, surBB8Copula, r90BB8Copula, r270BB8Copula)
importClassesFrom(VineCopula, joeBiCopula, surJoeBiCopula, r90JoeBiCopula, r270JoeBiCopula)
importClassesFrom(VineCopula, surClaytonCopula, r90ClaytonCopula, r270ClaytonCopula)
importClassesFrom(VineCopula, surGumbelCopula, r90GumbelCopula, r270GumbelCopula)
importClassesFrom(VineCopula, tawnT1Copula, surTawnT1Copula, r90TawnT1Copula, r270TawnT1Copula)
importClassesFrom(VineCopula, tawnT2Copula, surTawnT2Copula, r90TawnT2Copula, r270TawnT2Copula)
importClassesFrom(VineCopula, vineCopula)


# constructor
export(asCopula, cqsCopula)
export(tawn3pCopula)
export(spCopula, stCopula)
export(spVineCopula, stVineCopula)
export(stCoVarVineCopula)
export(neighbourhood, stNeighbourhood)
export(empiricalCopula, genEmpCop, empSurCopula, genEmpSurCop)
export(mixtureCopula)
export(hkCopula)
export(trunCopula)

# general functions
export(rankTransform, dependencePlot, unitScatter, univScatter)
export(fitCopula)
export(dduCopula,ddvCopula)
export(invdduCopula, invddvCopula)
export(qCopula_u, qCopula_v, rCopula_y)
export(condSpVine,spCopPredict)
export(condStVine,stCopPredict)
export(condStCoVarVine, condCovariate)
export(spGaussCopPredict, spGaussLogLik)

# tweaks
# export(setSizeLim)

# spatial
export(getNeighbours, getStNeighbours)
export(calcBins)
export(calcSpTreeDists, dropSpTree, dropStTree)
export(reduceNeighbours)

# fitting
export(fitCorFun, loglikByCopulasLags, loglikByCopulasStLags, fitSpCopula, composeSpCopula)
export(bivJointDepFun, lowerBivJointDepFun, upperBivJointDepFun)
export(empBivJointDepFun, lowerEmpBivJointDepFun, upperEmpBivJointDepFun)

# MRP functions
export(genEmpKenFun, genInvKenFun)
export(kendallRP, criticalLevel, kendallDistribution, getKendallDistr)
export(criticalPair, criticalTriple)
export(kendall)

## classes
exportClasses(asCopula, cqsCopula, tawn3pCopula, neighbourhood, stNeighbourhood, empiricalCopula, empSurCopula)
exportClasses(spCopula, stCopula, spVineCopula, stVineCopula)
exportClasses(stCoVarVineCopula)
exportClasses(mixtureCopula)
exportClasses(hkCopula)
exportClasses(trunCopula)